* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
    line-height: normal;
}

input {
    margin: 0;
    padding: 0;
}

input:focus {
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    line-height: normal;
}

button,
input,
optgroup,
select,
textarea {
    font-size: small;
    line-height: normal;
}

body {
    font-family: 'League Spartan', sans-serif;
}


@media(min-width:992px) {
    .titulo {
        font-size: 3rem;
    }

    .navbar-nav {
        font-size: 1.3rem;
    }
}

.fondo {
    background-color: rgb(238, 238, 238);
    padding-top: 60px;
    min-height: 710px;
}

.tarjeta {
    width: 200px;
    overflow: hidden;
    box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.4);
    border-radius: 6px;
    margin: 30px;
    padding-bottom: 10px;
    background-color: white;
}

@media(min-width:576px) {
    .tarjeta {
        width: 250px;
    }

}

.headerLogo {
    width: 70px;
    padding-top: 6px;
}
.estiloPresentacion{
    background-color: rgb(238, 238, 238);
    border-radius: 50%;
    display: flex;
    width: 48px;
    height: 48px;
    color: black;
    }
.changuito {
    background-color: #F2C2B8;
    border-radius: 50%;
    display: inline-block;
    color: black;
    width: 21px;
    height: 21px;
    text-align: center;
    font-size: 0.9rem;
    padding: 4px;
}

.itemCarrito {
    width: 350px;
    overflow: hidden;
    box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.4);
    border-radius: 6px;
    margin: 8px;
    background-color: white;
    transition-duration: 1s;
    opacity: 0.9;
}

@media(min-width:576px) {
    .itemCarrito {
        width: 500px;
    }

}

.itemCarrito_nombre {
    width: 160px;

}

.itemCarrito_precio {
    width: 60px;
    font-weight: 500;

}

.itemCarrito_unidades {
    width: 90px;
}

.itemCarrito_cantidad {
    width: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid black 2px;
    text-align: center;
    font-size: 1rem;
}

.imgCarrito {
    width: 30px;

}

.agregarQuitar {
    height: 70px;
}

h1 {
    text-shadow: -3px 0px 2px black;
}

h2 {
    font-size: 1rem;
    font-weight: 700;
}

h3 {
    font-size: 1.2rem;
    font-weight: 300;
    color: grey;
}

i {
    font-size: 1.2rem;
}

.logo {
    max-width: 300px;
}

span {
    font-size: 1rem;
}

.classPrecio {
    padding: 5px;
}

.unidades {
    overflow: hidden;
    padding: 5px;
}

.alto {
    height: 75px;
}


.cantIcon {
    width: 40px;
    height: 40px;
    border: none;
}

.cantIcon2 {
    width: 40px;
    height: 40px;
    border: none;
}

.tituloIndex {
    font-size: 2rem;
    text-align: center;
    padding: 15px;
}

@media(min-width:576px) {
    .tituloIndex {
        font-size: 3rem;
    }
}

.sinBorde {
    font-size: 2rem;
    border: none;
}

.TituloCarritoDesplegable {
    color: white;
    font-size: 1.2rem;
}

.finalizarCompra {
    color: black;
    padding: 10px;
    font-size: 1.2rem;
}

.tableImg {
    width: 30px;

}

.vaciarCarrito {
    font-size: 1rem;
    color: black;
}

.tablaCarrito {
    width: 700px;

    overflow: hidden;
    box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.4);
    border-radius: 6px;
    margin: 8px;
    padding-bottom: 10px;
    background-color: white;
    opacity: 0.7;
    transition-duration: 1s;
}

.selector {
    width: 150px;
}

.mostrarCarrito {
    margin-top: 65px;
}

.btnFinalizarCompra {
    background-color: pink;
    padding: 8px;
    border-radius: 6px;
    margin-top: 30px;
    margin-right: 8px;
    box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.4);
    opacity: 0.9;
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}

.btnFinalizarCompra :hover {
    color: white;
    background-color: blue;
}

.mTitulo {
    width: 50%;
    text-align: center;
    font-size: 1.2rem;
}

.mImagen {
    width: 25%;
}

.mX {
    width: 25%;
}
.swal-button {
    background-color:#0d6efd;
    outline: none;
    font-size: 1rem;
    padding: 16px,12px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
}

.swal-button:hover{
    background-color:#0b5ed7 !important ;
}


